# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/Interval Timer/Interval Timer/obj/
/Interval Timer/Interval Timer/moc/
/Interval Timer/Interval Timer/x64/
/Interval Timer/x64/
/Interval Timer/.vs/
/Interval Timer/Interval Timer/Interval Timer.vcxproj
/Interval Timer/Interval Timer/Interval Timer.vcxproj
/Interval Timer/Interval Timer/.qmake.stash
/Interval Timer/Interval Timer/IntervalTimer.vcxproj
/Interval Timer/Interval Timer/IntervalTimer.vcxproj.filters
/Interval Timer/Interval Timer/IntervalTimer.vcxproj.user
/"Interval Timer"/"Interval Timer"/main.cpp
/'Interval Timer'/'Interval Timer'/main.cpp
**/Interval Timer/Interval Timer/main.cpp
/c/'Git Projects'/Pi-Interval-Timer-Tablet-App/'Interval Timer'/'Interval Timer'/main.cpp

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.pdb
*.user
*.aps
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
